/* RESET */
*{
margin:0;
padding:0;
box-sizing: border-box;
border: 1px solid black;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 100px;  
}
.flex-between{
    display: flex;
    justify-content:space-between;
}
.container-header{
    height: 70%;
    width: 800px;
}
.jumbo{
    height: 950px;
    background-color: #B4D1E7;
}
.flex-centered{
    display: flex;
    justify-content: center;
}
.dual-box{
    height: 70%;
    width: 80%;
    margin: 150px;
}
.text-box{
    width: 40%;
    height: 100%;
}
.business-container{
    height: 1000px; 
    width: 1500px;
    background-color: blue;
}
.column{
    height: 100%;
    width: 500px;
    background-color: blueviolet;
    /* margin-left: 50px; */
}