/* RESET */
*{
margin:0;
padding:0;
box-sizing: border-box;
/* border: 1px solid black; */
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 70px;  
}
.flex-between{
    display: flex;
    justify-content:space-between;
}
.container-header{
    display: flex;
    height: 70%;
    width: 800px;
    padding: 30px;
}
p{
    margin: 0 20px;
}
.jumbo{
    height: 950px;
    background-color: #B4D1E7;
}
.blue{
    background-color: #0061FF;
    color: white;
    border: none;
}
.universal-button{
    margin: 60px;
    padding: 15px;
}
.header-button{
    padding: 10px;

}
h1{
     margin-top: 100px;
     font-weight: bold;
     font-size: 80px;
}
h2{
    margin: 100px 0 50px 0;
    font-weight: bold;
    font-size: 40px;
}
h3{
    font-size: 20px;
    font-weight: bold;
}

.flex-centered{
    display: flex;
    justify-content: center;
}
.dual-box{
    height: 70%;
    width: 80%;
    margin: 150px; 
}
.text-box{
    width: 30%;
    height: 100%;
}
.image-box{
    width: 60%;
    height: 100%;
    padding-left: 30px;
}
div.image-box img{
    width: 100%;
}
.column-container{
    height: 900px;
    width: 1500px;
}
.column{
    height: 100%;
    width: 400px;
    margin-left: 80px 0 0 50px;
    border: 1px solid black;
}
.column-row{
    height: 300px;
    width: 1300px;
    margin-top: 50px;
    border: 1px solid black;
}
.partner-container{
    width: 1500px;
    margin: 150px 0 0 30px ;
}
.general-container{
    /* height: 1300px;  */
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
}
.float-cards{
    height: 450px;
    width: 350px;
    margin-left: 30px;
}
.designit{
    /* height: 700px; */
    background-color: #F5F5F5;
    
}
.designit-little-square{
    height: calc(100vw / 3);
    width: calc(100vw / 3);
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.square-img{
    height: 50%;
    width: 50%;
    margin: auto;
}
.designit-center{
    height: 100%;
    width: 35%;
    background-color: #F5F5F5;
}
.free-trial{
    height: 400px;
    background-color: #B4D1E7;
}
/* .faq{
     width: 1500px; 
}   */
footer{
    height: 750px;
    background-color: black;
    margin-top: 150px;
}
div.column p{
    padding: 10px;
}
.fa-check{
    color: #0061FF;
}
div.float-cards img{
    height: 50%;
    width: 80%;
}
div.square-img img{
    width: 60%;
}
.designit-center p{
    padding: 40px;
}
.green{
    background-color: #A2D49B;
    
}
.green:hover{
    border: 1rem solid rgba(255, 255, 255, .5);
}
.bordeaux{
    background-color: #61082B;
}
.light-blue{
    background-color: #0093CE;
}
.red{
    background-color: #FE1C1C;
}
.grey-blue{
    background-color: #B4D1E7;
}
.dark-blue{
    background-color: #0E2381;
}
.yellow{
    background-color: #FFD82F;
}
.flex-a-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
}
div.square-img img{
    filter: invert(1);
}
section.faq h4{
    padding: 30px;
    font-size: bold;
}
.wine{
    color: #60072A;
}
.footer-columns{
    
    color: white;
   
    width: calc(100% / 5);
    margin-top: 80px;
}
.footer-columns p{
    margin-top: 10px;
    padding: 7px;
}
.right{
    width: 50%;
}
.left{
    width: 50%;
}
.left *{
    padding: 10px;
}
